/*home.html*/
  a{
      text-decoration : none;
  }
  .logo{
      width: 100%;
      color: black;
      width: 100%;
      text-align: center;
      margin-top: 5%;
      margin-bottom: 5%;
  }
  .choice_program{
      width: 30%;
      color: black;
      display : inline-block;
  }

/*style only keyboard (edited by. LK)*/

/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*============reset============*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f8f8f8;
}
button{
  all: unset;
  display: block;
}
ol, ul, li{
  list-style-type: none;
}
/*============handle============*/
/* .container {
  transform: translate(-50%,-50%);
  display: flex;
  position: absolute;
  top:50%;
  left:50%;
  border: 1px solid #cbd5e0;
  height: 80%;
  width: 90%;
} */
.container__left {
  min-width: 552px;
  min-height: 375px;
  max-width: 95%;
  max-height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 836px;
  height: 384px;
  position: relative;
  resize: both;
  overflow: auto;
  /* align-items: center; */
  /* display: flex; */
  /* justify-content: center; */
}
/* .resizer {
  background-color: #cbd5e0;
  cursor: ew-resize;
  height: 100%;
  width: 2px;
}
.container__right {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
} */


/*============keyboard============*/
.keyboard-container {
  margin: 1%;
  padding: 1%;
}
#keyboard {
  position: absolute;
  background: #bbb;
  background-image: linear-gradient(
    0deg,
    rgb(212,216,219) 27%,
    rgb(213,217,220) 64%,
    rgb(230,233,235) 95%,
    rgb(191,191,191) 100%
  );
  border-top-left-radius: 7px 21px;
  border-top-right-radius: 7px 21px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5% 1% 1%;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  width: 95%;
  height: 95%;
  padding-bottom: 5%;
}



/*============keyboard-row============*/
ul::before{
}
#fns{flex-grow: 3;}
#numbers{flex-grow: 5;}
#qwerty{flex-grow: 5;}
#asdfg{flex-grow: 5;}
#zxcvb{flex-grow: 5;}
#bottomrow{flex-grow: 5;}

ul {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-basis:auto;
  position: relative;
  margin: 0.5% 0;
}

/*============keys============*/
.key{
  margin: 1% 0.5%;
  min-width: 20px;
  min-height: 20px;
  object-position: none;
  width: 10%;
  height: 100%;
  background: #eff0f2;
  border-radius: 4px;
  border-top: 1px solid #f5f5f5;
  box-shadow:
  inset 0 0 25px #e8e8e8,
  0 1px 0 #c3c3c3,
  0 2px 0 #c9c9c9,
  0 2px 3px #333;
}

.key:active{
  /* color: #888; */
  /* background: #ebeced; */
  box-shadow:
    inset 0 0 25px #ddd,
    0 0 3px #333;
  border-top: 1px solid #eee;
}
#bottomrow .direct-container {
  /* display: flex; */
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 1% 0.5%;
}
.direct-key-container {
  width: 100%;
}
#up,#down,#left,#right {height: 50%; width: 100%;}
.none {
  opacity: 0;
  height: 50%;
}
#spacebar-container {
  margin-left: 5%;
  margin-right: 5%;
  /* padding:0 20% ; */
}
#spacebar {
  width: 60%;
}

/*============images============*/
#keyboard button{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#fns button:nth-child(1){background-image: url("images/esc.png");}
#fns button:nth-child(2){background-image: url("images/f1.png");}
#fns button:nth-child(3){background-image: url("images/f2.png");}
#fns button:nth-child(4){background-image: url("images/f3.png");}
#fns button:nth-child(5){background-image: url("images/f4.png");}
#fns button:nth-child(6){background-image: url("images/f5.png");}
#fns button:nth-child(7){background-image: url("images/f6.png");}
#fns button:nth-child(8){background-image: url("images/f7.png");}
#fns button:nth-child(9){background-image: url("images/f8.png");}
#fns button:nth-child(10){background-image: url("images/f9.png");}
#fns button:nth-child(11){background-image: url("images/f10.png");}
#fns button:nth-child(12){background-image: url("images/f11.png");}
#fns button:nth-child(13){background-image: url("images/f12.png");}
#fns button:nth-child(14){background-image: url("images/eject.png");}

#numbers button:nth-child(1){background-image: url("images/~`.png");}
#numbers button:nth-child(2){background-image: url("images/1.png");}
#numbers button:nth-child(3){background-image: url("images/2.png");}
#numbers button:nth-child(4){background-image: url("images/3.png");}
#numbers button:nth-child(5){background-image: url("images/4.png");}
#numbers button:nth-child(6){background-image: url("images/5.png");}
#numbers button:nth-child(7){background-image: url("images/6.png");}
#numbers button:nth-child(8){background-image: url("images/7.png");}
#numbers button:nth-child(9){background-image: url("images/8.png");}
#numbers button:nth-child(10){background-image: url("images/9.png");}
#numbers button:nth-child(11){background-image: url("images/0.png");}
#numbers button:nth-child(12){background-image: url("images/-.png");}
#numbers button:nth-child(13){background-image: url("images/equel.png");}
#numbers button:nth-child(14){background-image: url("images/delete.png");}

#qwerty button:nth-child(1){background-image: url("images/tab.png");}
#qwerty button:nth-child(2){background-image: url("images/Q.png");}
#qwerty button:nth-child(3){background-image: url("images/W.png");}
#qwerty button:nth-child(4){background-image: url("images/E.png");}
#qwerty button:nth-child(5){background-image: url("images/R.png");}
#qwerty button:nth-child(6){background-image: url("images/T.png");}
#qwerty button:nth-child(7){background-image: url("images/Y.png");}
#qwerty button:nth-child(8){background-image: url("images/U.png");}
#qwerty button:nth-child(9){background-image: url("images/I.png");}
#qwerty button:nth-child(10){background-image: url("images/O.png");}
#qwerty button:nth-child(11){background-image: url("images/P.png");}
#qwerty button:nth-child(12){background-image: url("images/br_l.png");}
#qwerty button:nth-child(13){background-image: url("images/br_r.png");}
#qwerty button:nth-child(14){background-image: url("images/OR.png");}

#asdfg button:nth-child(1){background-image: url("images/capslock.png");}
#asdfg button:nth-child(2){background-image: url("images/A.png");}
#asdfg button:nth-child(3){background-image: url("images/S.png");}
#asdfg button:nth-child(4){background-image: url("images/D.png");}
#asdfg button:nth-child(5){background-image: url("images/F.png");}
#asdfg button:nth-child(6){background-image: url("images/G.png");}
#asdfg button:nth-child(7){background-image: url("images/H.png");}
#asdfg button:nth-child(8){background-image: url("images/J.png");}
#asdfg button:nth-child(9){background-image: url("images/K.png");}
#asdfg button:nth-child(10){background-image: url("images/L.png");}
#asdfg button:nth-child(11){background-image: url("images/colone.png");}
#asdfg button:nth-child(12){background-image: url("images/quotes.png");}
#asdfg button:nth-child(13){background-image: url("images/return.png");}

#zxcvb button:nth-child(1){background-image: url("images/shift_left.png");}
#zxcvb button:nth-child(2){background-image: url("images/Z.png");}
#zxcvb button:nth-child(3){background-image: url("images/X.png");}
#zxcvb button:nth-child(4){background-image: url("images/C.png");}
#zxcvb button:nth-child(5){background-image: url("images/V.png");}
#zxcvb button:nth-child(6){background-image: url("images/B.png");}
#zxcvb button:nth-child(7){background-image: url("images/N.png");}
#zxcvb button:nth-child(8){background-image: url("images/M.png");}
#zxcvb button:nth-child(9){background-image: url("images/greater_right.png");}
#zxcvb button:nth-child(10){background-image: url("images/greater_left.png");}
#zxcvb button:nth-child(11){background-image: url("images/question.png");}
#zxcvb button:nth-child(12){background-image: url("images/shift_right.png");}

#bottomrow button:nth-child(1) {background-image: url("images/fn.png");}
#bottomrow button:nth-child(2){background-image: url("images/control.png");}
#bottomrow button:nth-child(3){background-image: url("images/option.png");}
#bottomrow button:nth-child(4){background-image: url("images/command.png");}
#bottomrow button:nth-child(5){background-image: url("images/spacebar.png");}
#bottomrow button:nth-child(6){background-image: url("images/command.png");}
#bottomrow button:nth-child(7){background-image: url("images/option.png");}
#bottomrow .direct-key-container:nth-child(1) button:nth-child(2) {background-image: url("images/left.png");}
#bottomrow .direct-key-container:nth-child(2) button:nth-child(1) {background-image: url("images/up.png");}
#bottomrow .direct-key-container:nth-child(2) button:nth-child(2) {background-image: url("images/down.png");}
#bottomrow .direct-key-container:nth-child(3) button:nth-child(2) {background-image: url("images/right.png");}
