{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>HTML DOM - Create resizable split views</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'keysite/style.css' %}" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&family=Source+Code+Pro&display=swap"/>
        <script src="{% static 'keysite/script.js' %}"></script>

    </head>
    <body>
        <div class="container">
            <div class="container__left">Left</div>
            <div class="resizer" id="dragMe" style="width: 10px"></div>
            <div class="container__right">Right</div>
        </div>


    </body>
</html>